@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* .nunitouniquifier {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */


body {
  font-family: "Nunito", sans-serif;
}

/* Minimalist scrollbar for Webkit browsers */
#departments-list::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

#departments-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

#departments-list::-webkit-scrollbar-thumb {
  background-color: #d4d4d4; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
  background-clip: content-box;
}

#departments-list::-webkit-scrollbar-button {
  display: none; /* hide scrollbar buttons */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}